# Database Connection
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL=postgresql://user:password@localhost:5432/pawly

# Authentification (JWT)
# Secret key used to sign access tokens. Keep this strong and secret.
# You can generate one using: openssl rand -base64 32
JWT_SECRET=super-secret-key

# Secret key used to sign refresh tokens. Should be different from JWT_SECRET.
JWT_REFRESH_SECRET=another-super-secret-key