{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2023",
    "baseUrl": "./src",
    "paths": {
      "@/*": ["./*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
